html, body {
    width: 100%;
    height: 98%;
    max-width: 1200px; 
    max-height: 600px; 
    margin: 0px;
}

#color-pick { 
    width: 100%;
    height: 100%;
    padding: 0.5em; 
}

#color-top {
    width: 100%;
    height: 80%;
    border:none;
}

#color-bottom {
    width: 100%;
    height: 15%;
    border:none;
}

#color-slider {
    float: left;
    clear: left;
    width: 50%;
    height: 100%;
    margin-top: 3%;
    border:none;
    text-align: center; 
}

#color-swatch {
    float: right;
    width:50%;
    height: 100%;
    border:none;
    text-align: center;
}

#red, #green, #blue {
    width: auto;
    height: 20%;
    margin-left: 2%;
    margin-top: 7%;
    margin-bottom: 7%;
}

#red {
    margin-top: 10px;
}

#intensity {
    width: auto;
    height: 96%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 2%;
}

#red .ui-slider-handle, 
#green .ui-slider-handle, 
#blue .ui-slider-handle,
#intensity .ui-slider-handle {
    height: 106%;
    width: 2%;
    border-color: #AAAAAA;
}

#swatch {
    width: 100%;
    height: 70%;
    margin-top: 10px;
    background-image: none;
}

#value {
    width: 60%;
    height: 16%;
    margin-top: 5%;
    text-align: center;
    vertical-align: middle;
    border:none;
}

#red .ui-slider-range {
    background: red;
}

#red .ui-state-default {
    background:red;
}

#green .ui-slider-range {
    background: green;
}

#green .ui-state-default {
    background:green;
}

#blue .ui-slider-range {
    background: blue;
}

#blue .ui-state-default {
    background:blue;
}

#intensity .ui-slider-range {
    background: #808080;
}

#intensity .ui-state-default {
    background: #808080
}

