html, body {
    width: 100%;
    height: 98%;
    min-width: 400px; 
    min-height: 300px; 
    max-width: 1200px; 
    max-height: 800px; 
    margin: 0px;
}

#color-pick { 
    width: 100%;
    height: 100%;
    padding: 0.5em; 
}

#color-pick h2 { 
    width: 100%;
    height: 13%;
    text-align: center; 
    margin: 0; 
}

#color-top {
    width: 100%;
    height: 62%;
    border:none;
}

#color-bottom {
    width: 100%;
    height: 20%;
    border:none;
}

#color-slider {
    float: left;
    clear: left;
    width: 63%;
    height: 100%;
    border:none;
    text-align: center; 
}

#color-swatch {
    float: right;
    width: 33%;
    height: 100%;
    margin-right: 3%;
    border:none;
}

#red, #green, #blue {
    width: auto;
    height: 28%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#red {
    margin-top: 10px;
}

#intensity {
    width: auto;
    height: 85%;
    margin-top: 15px;
    margin-left: 3%;
    margin-right: 3%;
}

#red .ui-slider-handle, 
#green .ui-slider-handle, 
#blue .ui-slider-handle,
#intensity .ui-slider-handle {
    height: 106%;
    width: 2%;
    border-color: #AAAAAA;
}

#swatch {
    width: 95%;
    height: 70%;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5%;
    background-image: none;
}

#value {
    width: 95%;
    height: auto;
    margin-left: 10px;
    margin-top: 7%;
    margin-right: 5%;
    text-align: center;
    vertical-align: middle;
}

#red .ui-slider-range {
    background: red;
}

#red .ui-state-default {
    background:red;
}

#green .ui-slider-range {
    background: green;
}

#green .ui-state-default {
    background:green;
}

#blue .ui-slider-range {
    background: blue;
}

#blue .ui-state-default {
    background:blue;
}

#intensity .ui-slider-range {
    background: #808080;
}

#intensity .ui-state-default {
    background: #808080
}

